<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello MicrocreditService!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Material Design fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/FezVrasta/bootstrap-material-design/dist/dist/bootstrap-material-design.min.css">

  </head>

  <body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Клиенты</a></li>
      <li><a href="/loans">Кредиты</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="pull-right"><a href="https://github.com/kkozlovsky"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</nav>
    <div class="container">
        
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <%= if get_flash(@conn, :info) do %>
        <div class="navbar-fixed-bottom row">
          <div class="navbar-inner col-md-2 col-md-offset-10">
            <div class="container">
              <div class="alert alert-dismissible alert-info">
                <%= get_flash(@conn, :info) %>
              </div>
            </div>
          </div>
        </div>      
      <% end %>

      <%= if get_flash(@conn, :error) do %>
        <div class="navbar-fixed-bottom row">
          <div class="navbar-inner">
            <div class="container col-md-2 col-md-offset-10">
              <div class="alert alert-dismissible alert-danger">
                <%= get_flash(@conn, :error) %>
              </div>
            </div>
          </div>
        </div>      
      <% end %>
      
    </div> <!-- /container -->



    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
